.custom-vertical-stepper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: 'Inter', sans-serif;
    width: 100%;
    text-align: initial;

    .step-item {
        position: relative;
        cursor: pointer;
        display: block;
        flex: 1 0 auto;
        padding-inline-start: 0;
        overflow: visible;
        background-color: transparent;
        width: 100%;
        transition: background-color 0.3s ease, transform 0.3s ease;

        .steps-item-content .ant-collapse {
            background-color: transparent;

            .ant-collapse-header {
                padding: 0;
            }
        }

        &.step-item-wait {
            &.step-item-active {
                &:not(:last-child) {
                    .steps-item-tail {
                        display: block;
                        padding: 28px 0 1px !important;
                        position: absolute;
                        top: 0;
                        inset-inline-start: 16px;
                        width: 1px;
                        height: 100%;

                        &::after {
                            display: inline-block;
                            width: 1px;
                            height: 100%;
                            background-color: #ffffff;
                            border: none;
                            border-radius: 1px;
                            transition: background 0.3s;
                            content: '';
                        }
                    }
                }

                .steps-item-icon {
                    border: 2px dashed rgba(255, 255, 255, 0.56) !important;
                    margin: 0 !important;
                    margin-inline-end: 10px;
                    background-color: #ffffff;
                    border-color: #ffffff;
                    float: left;
                    transform: scale(0.565);
                    font-size: 18px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 32px;
                }

                .steps-item-content {
                    display: block;
                    min-height: 48px;
                    overflow: hidden;

                    .steps-item-title {
                        color: #ffffff;
                        margin-top: 3px;
                        text-align: left;
                    }
                }
            }

            &:not(&.step-item-active) {
                &:not(:last-child) {
                    .steps-item-tail {
                        display: block;
                        padding: 28px 0 1px !important;
                        position: absolute;
                        top: 0;
                        inset-inline-start: 16px;
                        width: 1px;
                        height: 100%;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 1px;
                            height: 100%;
                            background-color: rgba(255, 255, 255, 0.2);
                            border: none;
                            border-radius: 1px;
                            transition: background 0.3s;
                        }
                    }
                }

                .steps-item-icon {
                    line-height: 32px;
                    text-align: center;
                    border-radius: 32px;
                    border: 2px dashed rgba(255, 255, 255, 0.56) !important;
                    margin: 0 !important;
                    margin-inline-end: 10px;
                    background-color: transparent;
                    border-color: #ffffff;
                    float: left;
                    transform: scale(0.565);
                    font-size: 18px;
                    width: 32px;
                    height: 32px;
                }

                .steps-item-content {
                    display: block;
                    min-height: 48px;
                    overflow: hidden;

                    .steps-item-title {
                        color: rgba(255, 255, 255, 0.7);
                        margin-top: 3px;
                        text-align: left;
                    }
                }
            }
        }

        &.step-item-finish {
            &.step-item-active {
                &:not(:last-child) {
                    .steps-item-tail {
                        display: block;
                        padding: 28px 0 1px !important;
                        position: absolute;
                        top: 0;
                        inset-inline-start: 16px;
                        width: 1px;
                        height: 100%;

                        &::after {
                            display: inline-block;
                            width: 1px;
                            height: 100%;
                            background-color: rgba(24, 196, 146, 1);
                            border: none;
                            border-radius: 1px;
                            transition: background 0.3s;
                            content: '';
                        }
                    }
                }

                .steps-item-icon {
                    // border: 2px dashed rgba(255, 255, 255, 0.56) !important;
                    margin: 0 !important;
                    margin-inline-end: 10px;
                    background-color: rgba(24, 196, 146, 1);
                    border-color: rgba(24, 196, 146, 1);
                    float: left;
                    transform: scale(0.565);
                    font-size: 18px;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 32px;
                }

                .steps-item-content {
                    display: block;
                    min-height: 48px;
                    overflow: hidden;

                    .steps-item-title {
                        color: #ffffff;
                        margin-top: 3px;
                        text-align: left;
                    }
                }
            }

            &:not(&.step-item-active) {
                &:not(:last-child) {
                    .steps-item-tail {
                        display: block;
                        padding: 28px 0 1px !important;
                        position: absolute;
                        top: 0;
                        inset-inline-start: 16px;
                        width: 1px;
                        height: 100%;

                        &::after {
                            display: inline-block;
                            width: 1px;
                            height: 100%;
                            background-color: rgba(24, 196, 146, 1);
                            border: none;
                            border-radius: 1px;
                            transition: background 0.3s;
                            content: '';
                        }
                    }
                }

                .steps-item-icon {
                    line-height: 32px;
                    text-align: center;
                    border-radius: 32px;
                    border: 2px dashed rgba(24, 196, 146, 1) !important;
                    margin: 0 !important;
                    margin-inline-end: 10px;
                    background-color: rgba(24, 196, 146, 1);
                    border-color: rgba(24, 196, 146, 1);
                    float: left;
                    transform: scale(0.565);
                    font-size: 18px;
                    width: 32px;
                    height: 32px;
                }

                .steps-item-content {
                    display: block;
                    min-height: 48px;
                    overflow: hidden;

                    .steps-item-title {
                        color: rgba(255, 255, 255, 0.7);
                        margin-top: 3px;
                        text-align: left;
                    }
                }
            }
        }
    }
}